@import "tailwindcss";

:root {
  --background: #fdfaf7;
  --primary: #0b0b0b;
  --secondary: #f47b20;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* .btn-effect {

} */